body {
    /*width: 1400px;*/
    /*height: 1000px;*/
    height: 100%;
    /*margin:0;*/
    /*padding:0;*/
}

#appDiv {
    width: 100%;
    overflow: hidden;
}

#nearbySegmentList {
    width: 200px;
    float: left;
}

#mapBoxMap {
    margin-left: 200px;
}
/*#mapBoxMap { position:absolute; top:0; bottom:0; width:100%; }*/

table,th,td
{
    border:1px solid black;
    border-collapse:collapse;
}
th,td
{
    padding:5px;
}

#mapLegend {
    top: 2px;
    position: absolute;
    left: 5px;
    z-index: 99;
}

.mapLegendActivityRect
{
    margin-top:10px;
    width: 50px;
    height: 4px;
    display: inline-block;
}

.mapLegendActivityName
{
    margin-left: 8px;
    display: inline-block;
}
